* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    display:flex;
    justify-content:center;
    min-height:100vh;
    align-items:center;
}
input {
    margin:20px;
    padding:5px;
    font-size:2rem;
}
#qrcode {
    margin-left:30px;
    
}
input{
    color:red;
}
button{
    margin:20px;
    padding:10px;
    border-radius:8px;
    background-color:#2196f3;
    border:none;
    color:#ffffff;
}
button:hover {
    background-color: #0b7dda;
}